<li class="platform">
  <app-link target="_blank" class="link__community"
            title="angular.bp on Meetup"
            href="https://www.meetup.com/AngularBP/">
    <span class="fa fa-lg fa-meetup"></span>
  </app-link>
</li>
<!--<li class="platform">
  <app-link target="_blank" class="link__community" title="angular.hamburg on Twitter"
            href="https://twitter.com/angular_hamburg">
    <span class="fa fa-lg fa-twitter"></span>
  </app-link>

</li>-->
<li class="platform">
  <app-link target="_blank" class="link__community" title="angular.hamburg on Github"
            href="https://github.com/Angular-Hungary">
    <span class="fa fa-lg fa-github"></span>
  </app-link>
</li>
