<li class="member">
  <img class="avatar" src="assets/team-Marcell.png" alt="name"/>
  <div class="name">Marcell Kiss</div>
  <div>Organizer</div>
  <div class="markdown">
    <p>Javascript Developer</p>
  </div>
  <app-link class="link" target="_blank" href="https://twitter.com/martzellk?lang=hu" title="twitter">
    @Budacode
  </app-link>
</li>

<li class="member">
  <img class="avatar" src="assets/team-Attila.png" alt="name"/>
  <div class="name">Attila Olah</div>
  <div>Co-Organizer</div>
  <div class="markdown">
    <p>Lead Developer</p>
  </div>
  <app-link class="link" target="_blank" href="https://twitter.com/magyarsrac" title="twitter">
    @Budacode
  </app-link>
</li>
<li class="member">
  <img class="avatar" src="assets/team-Gabor.png" alt="name"/>
  <div class="name">Gabor Soos</div>
  <div>Co-Organizer</div>
  <div class="markdown">
    <p>Technical Lead</p>
  </div>
  <app-link class="link" target="_blank" href="https://twitter.com/blacksonic86/" title="twitter">
    @Emarsys
  </app-link>
</li>
<li class="member">
  <img class="avatar" src="assets/team-Benedek.png" alt="name"/>
  <div class="name">Benedek Gagyi</div>
  <div>Co-Organizor</div>
  <div class="markdown">
    <p>JavaScript Developer</p>
  </div>
  <app-link class="link" target="_blank" href="https://twitter.com/benedekgagyi" title="twitter">
    @LogMeIn
  </app-link>
</li>



