<li class="member">
  <div class="avatar" style="background-image: url(assets/team-Marcell.png)"></div>
  <div class="name">Marcell Kiss</div>
  <div>Organizer</div>
  <div class="markdown">
    <p>Javascript Developer</p>
    <p>at Budacode</p>
  </div>
  <app-link class="link" target="_blank" href="https://twitter.com/martzellk?lang=hu" title="twitter">
    @martzellk
  </app-link>
</li>

<li class="member">
  <div class="avatar" style="background-image: url(assets/team-Attila.png)"></div>
  <div class="name">Attila Olah</div>
  <div>Co-Organizer</div>
  <div class="markdown">
    <p>Lead Developer</p>
    <p>at Budacode</p>
  </div>
  <app-link class="link" target="_blank" href="https://twitter.com/magyarsrac" title="twitter">
    @magyarsrac
  </app-link>
</li>
<li class="member">
  <div class="avatar" style="background-image: url(assets/team-Benedek.png)"></div>
  <div class="name">Benedek Gagyi</div>
  <div>Co-Organizor</div>
  <div class="markdown">
    <p>JavaScript Developer</p>
    <p>at LogMeIn</p>
  </div>
  <app-link class="link" target="_blank" href="https://twitter.com/benedekgagyi" title="twitter">
    @benedekgagyi
  </app-link>
</li>
<li class="member">
  <div class="avatar" style="background-image: url(assets/team-Gabor.png)"></div>
  <div class="name">Gabor Soos</div>
  <div>Co-Organizer</div>
  <div class="markdown">
    <p>Technical Lead</p>
    <p>at Emarsys</p>
  </div>
  <app-link class="link" target="_blank" href="https://twitter.com/blacksonic86/" title="twitter">
    @blacksonic86
  </app-link>
</li>



