<li class="sponsor">
  <img class="logo" src="assets/budacode.png" alt="#name"/>
  <div>
    <app-link target="_blank" class="name" href="https://budacode.com/">
      Budacode
    </app-link>
    <div class="role">meetup fees</div>
  </div>
</li>
<li class="sponsor">
  <img class="logo" src="assets/emarsys.png" alt="#name"/>
  <div>
    <app-link target="_blank" class="name" href="https://www.emarsys.com/en-uk/">
      Emarsys
    </app-link>
    <div class="role">Artificial Intelligence Marketing</div>
  </div>
</li>
<li class="sponsor">
  <img class="logo" src="assets/logmein.png" alt="#name"/>
  <div>
    <app-link target="_blank" class="name" href="https://secure.logmein.com/home">
      LogMeIn
    </app-link>
    <div class="role">Simplifies How People Interact With Each Other </div>
  </div>
</li>




